@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
    --grey: hsl(0, 0%, 50%);

    --primary-color: hsl(0, 0%, 100%); 
    --secondary-color: hsl(0, 0%, 17%);

    --info-color: hsl(225, 64%, 65%); 
    --warning-color: hsl(44, 100%, 63%);
    --error-color: hsl(0, 100%, 45%); 
    --success-color: hsl(95, 89%, 48%); 
}

[data-theme="dark"] {
    --primary-color: hsl(0, 0%, 17%);
    --secondary-color: hsl(0, 0%, 100%); 
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    place-items: center; 
    position: relative; 
    height: 100vh; 
    background-color: var(--secondary-color);
}

.title {
    color: var(--primary-color);
    margin-block: 30px; 
}

.btn {
    outline: none;
    cursor: pointer;
    background-color: transparent;  
    color: var(--primary-color);
    font-size: 16px; 
    font-weight: 500;
    padding: 10px 15px; 
    border: 2px solid var(--primary-color); 
}

.btn.active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.btn-container {
    display: flex; 
    gap: 3rem; 
}

label {
    color: var(--primary-color);
    margin-inline: 10px;
}

.container {
    position: absolute; 
}

.container[data-position="top-left"], 
.container[data-position="top-right"],
.container[data-position="top-center"] {
    top: 0; 
} 

.container[data-position="bottom-left"],
.container[data-position="bottom-right"],
.container[data-position="bottom-center"] {
    bottom: 0; 
}

.container[data-position="top-left"],
.container[data-position="bottom-left"] {
    left: 0; 
}

.container[data-position="top-right"],
.container[data-position="bottom-right"] {
    right: 0; 
}

.container[data-position="top-center"],
.container[data-position="bottom-center"] {
    left: 50%; 
    transform: translateX(-50%); 
} 

.card {
    overflow: hidden;
    position: relative;
    background-color: var(--primary-color);
    width: 300px;
    margin: 20px;
    border-radius: 5px;
}

.text {
    color: var(--secondary-color);
    margin: 25px 20px; 
}

/* Close Btn */
.close-btn {
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute; 
    top: 10px; 
    right: 10px;
    width: 15px; 
    height: 15px;
}

.close-btn::before,
.close-btn::after {
    content: '';
    position: absolute; 
    width: 100%;
    height: 2px;
    background-color: var(--grey);
}

.close-btn::before {
    transform: rotate(45deg);
}

.close-btn::after {
    transform: rotate(-45deg);
}

.progress-bar {
    --width: 100%; 
    --color: hsl(225, 64%, 65%);
    
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    width: var(--width); 
    height: 5px; 
    background-color: var(--color);
}
